/*Style signin.html*/

/*χρωμα για το background, θα βαλουμε φωτογραφια*/
body {
	background-color: skyblue;
}

/*προσαρμοζουμε τη φορμα συνδεσης με τις καταλληλες διαστασεις και το καταλληλο σημειο*/
.container {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: red;
}

/*Το Sign in τοποθετειται στο κεντρο της φορμας*/
.container h2 {
	text-align: center;
}


.container form {
	display: flex;
	flex-direction: column;
}

/*η φορμα που προκειται να συμπληρωθει*/
.container form input[type="text"],
.container form input[type="password"] {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/*κουμπι συνδεσης*/
.container form button {
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/*κουμπι συνδεσης την ωρα που ακουμπαει το ποντικι*/
.container form button:hover {
	background-color: #0056b3;
}